services:
  telegram-bot:
    restart: unless-stopped
    build:
      context: ./
      dockerfile: Dockerfile
    environment:
      - TELEGRAM_API_TOKEN=${TELEGRAM_API_TOKEN}
      - FPTN_WELCOME_MESSAGE_EN=${FPTN_WELCOME_MESSAGE_EN}
      - FPTN_WELCOME_MESSAGE_RU=${FPTN_WELCOME_MESSAGE_RU}
      - MAX_USER_SPEED_LIMIT=${MAX_USER_SPEED_LIMIT}
      - SERVICE_NAME=${SERVICE_NAME}
      - ENABLE_BROTLI_COMPRESSION=${ENABLE_BROTLI_COMPRESSION}
      - FPTN_CONFIGS_FOLDER=${FPTN_CONFIGS_FOLDER}
    volumes:
      - ./src/:/app/src:ro
      - ./logs:/var/log/fptn_bot:rw
      - "${FPTN_CONFIGS_FOLDER}:/etc/fptn:rw"
