[Unit]
Description=FPTN dnsmasq Service
After=network.target fptn-client.service fptn-hostapd.service

[Service]
ExecStart=bash -c "sleep 20 && dnsmasq --conf-file=/etc/fptn-dnsmasq.conf -d" 
Restart=always
User=root
RestartSec=5
 
[Install]
WantedBy=multi-user.target