global:
  scrape_interval: 15s
scrape_configs:
  - job_name: 'fptn-server'
    scrape_interval: 60s
    metrics_path: '/api/v1/metrics/PROMETHEUS_SECRET_ACCESS_KEY'
    static_configs:
      - targets: ['fptn-nginx-prometheus-proxy:80']
  - job_name: 'node'
    scrape_interval: 60s
    static_configs:
      - targets: ['fptn-node-exporter:9100']
